{% load i18n %}

<input id="{{widget_id}}"
       name="{{widget_id}}"
       dojoType="dijit.form.CheckBox"
       value="true"
       {% if widget.initialValue %}
            checked
       {% endif %}
       onChange="datable_changed('{{table.name}}', '{{widget.name}}', this.checked?this.value:undefined);">

<label for="{{widget_id}}">
    {{ widget.placeholder }}
</label>

<script type="text/javascript">
    // Checkbox
    dojo.require("dijit.form.CheckBox");

    function {{widget_id}}_clear() {
        dijit.byId('{{widget_id}}').reset();
        delete {{table.name}}GridFilter['{{ widget.name }}'];
    }

    function {{widget_id}}_onload(){
    }
</script>
